<!DOCTYPE html>
<html lang="es">
{%load static%}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Casos Cardio Vasculares</title>
  <meta name="title" content="Casos Cardio Vasculares">
  <meta name="description" content="Esta es una página de casos cardio vasculares">
  <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{%static 'css/data-set.css'%}">
</head>

<body id="top">

  <header class="header" data-header>
    <div class="container">
      <a href="#" class="logo">
        <img src="{%static 'img/images copy/images copy/logo.svg'%}" width="136" height="46" alt="Casos Cardio Vasculares home">
      </a>
      <h1 class="headline-lg">Casos Cardio Vasculares</h1>
    </div>
  </header>

  <main>
    <section class="image-gallery">
      <figure>
        <img src="{%static 'img/images copy/images copy/graf1.jpeg'%}" width="600" height="400" alt="Gráfico de Incidencia de Ataques Cardíacos">
        <figcaption>Gráfico 1</figcaption>
      </figure>
      <figure>
        <img src="{%static 'img/images copy/images copy/graf2.jpeg'%}" width="600" height="400" alt="Gráfico de Mortalidad por Enfermedades Cardíacas">
        <figcaption>Gráfico 2</figcaption>
      </figure>
      <figure>
        <img src="{%static 'img/images copy/images copy/'%}graf3.jpeg" width="600" height="400" alt="Gráfico de Factores de Riesgo">
        <figcaption>Gráfico 3</figcaption>
      </figure>
      <figure>
        <img src="{%static 'img/images copy/images copy/'%}graf4.jpeg" width="600" height="400" alt="Gráfico de Tratamientos Efectivos">
        <figcaption>Gráfico 4</figcaption>
      </figure>
      <figure>
        <img src="{%static 'img/images copy/images copy/'%}graf5.jpeg" width="600" height="400" alt="Gráfico de Prevención de Enfermedades Cardíacas">
        <figcaption>Gráfico 5</figcaption>
      </figure>
      <figure>
        <img src="{%static 'img/images copy/images copy/'%}graf6.jpeg" width="600" height="400" alt="Gráfico de Recuperación Post Infarto">
        <figcaption>Gráfico 6</figcaption>
      </figure>
    </section>
  </main>

  <footer class="footer" style="background-image: url('images/footer-bg.png')">
    <div class="container">
    </div>
  </footer>

</body>
<script src="{%static 'css/data-set.js'%}"></script>
</html>